page {
  --field-placeholder-text-color: #bbbbbb;
}

.van-cell {
  font-size: 28rpx !important;
}
.van-cell::after {
  right: 40rpx !important;
}
.picker-input.van-field__input--disabled {
  color: #000 !important;
}
.error-input .van-cell:after {
  border-bottom-color: #d0021b !important;
}
.disabled-field .van-cell__title {
  color: #bbb !important;
}
.van-popup__close-icon {
  font-size: 56rpx !important;
}
.van-count-down {
  font-size: inherit !important;
  color: inherit !important;
  display: inline-block !important;
}

.van-dialog__header {
  font-size: 32rpx !important;
  font-weight: 500 !important;
  color: #222222 !important;
  line-height: 40rpx !important;
}
.van-dialog__message {
  font-size: 28rpx !important;
  font-weight: 400 !important;
  color: #444444 !important;
  line-height: 40rpx !important;
  padding: 40rpx 0 !important;
}
.van-dialog__footer::after {
  content: none !important;
}
.van-dialog__button .van-button {
  width: 208rpx !important;
  height: 80rpx !important;
  border-radius: 50rpx !important;
  font-size: 32rpx !important;
  font-weight: 600 !important;
  line-height: 80rpx !important;
  margin: 0 auto;
}
.van-dialog__button {
  text-align: center;
  padding: 0 0 40rpx 0;
  &::after {
    content: none !important;
  }
  &:first-child {
    .van-button {
      border: 1rpx solid #ed4a4a !important;
      color: #ed4a4a !important;
    }
  }
  &:last-child {
    .van-button {
      background: linear-gradient(270deg, #ed4a4a 0%, #fd9262 100%) !important;
      color: #fff !important;
    }
  }
}
